extends layout

block headextra
    script(src="/javascripts/annotation.js")
    script(src="/javascripts/tasks.js")

block navbar-extension
    .row(class="navbar-extension")
        .container 
            .div(class="col-md-12")
                div(class=["navbar-text", "anno-option"])
                    div(class="dropdown")
                        input#global_checkbox(type="checkbox", data-toggle="tooltip",
                            data-placement="bottom", title="Select")
                        =" "
                        span#global_select_option(class="spanspace", data-toggle="dropdown", 
                            aria-haspopup="true", aria-expanded="false")
                            span(class="caret")
                        ul(class="dropdown-menu", aria-labelledby="global_select_option")
                            li#select_all
                                a All
                            li#select_none
                                a None
                            li#select_labelled
                                a Labelled
                            li#select_unlabelled
                                a Unlabelled

                div(class=["navbar-text", "anno-option"])
                    div(data-toggle="tooltip", data-placement="bottom", title="Remove selected items")
                        span#global_trash(class=["glyphicon glyphicon-trash glyphicon-global"])

                div(class=["navbar-text", "anno-option"])
                    div(class="dropdown" id="div_task_dropdown")
                        span#global_tag(class=["glyphicon glyphicon-tag glyphicon-global cursor-help"], 
                            data-toggle="tooltip", data-placement="bottom", title="Label selected items as")
                        =" "
                        span#global_label_option(class="spanspace", data-toggle="dropdown",
                            aria-haspopup="true", aria-expanded="false")
                            span(class="caret")
                        ul#task_dropdown(class="dropdown-menu scrollable-menu", aria-labelledby="global_label_option")
                            li#divider(class="divider")

                            //li#task_label_new
                            //    a Create new label 

                            li#task_label_more(class="li-more-task")
                                a Show more task labels ...

                            li(class="task-more divider hidden")

                   
                div(class=["navbar-text", "anno-option"])
                    div(class="dropdown view-date")
                        span#global_date_selected(class="cursor-help", data-toggle="tooltip", 
                            data-placement="bottom", title="Select a viewing date") Date
                        =" "
                        span#global_date_option(class="spanspace", data-toggle="dropdown", 
                            aria-haspopup="true", aria-expanded="false")
                            span(class="caret")
                        ul#date_dropdown(class="dropdown-menu", aira-labelledby="global_date_option")

                div(class=["navbar-nav", "nav-progress"])
                    div(class="progress")
                        div#progress_rm(class=["progress-bar","progress-bar-grey"],
                            aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width:0%;", 
                            data-toggle="tooltip", data-placement="top", title="Items removed"
                            ) 
                            span#progress_rm_label 
                        div#progress_done(class=["progress-bar","progress-bar-success"],
                            aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width:0%;",
                            data-toggle="tooltip", data-placement="top", title="Items annotated"
                            )
                            span#progress_done_label

 
block content
    div(class=["container"])
        div#div_logarea(class=["col-md-7", "log-area"])
            div#div_empty(class="well hidden")     

        div#task_area(class=["col-md-5", "right-column"])
            div(class=["affix"], data-spy="affix", data-offset-top="200")
                div(class="header")
                    ul(class=["nav", "nav-tabs"])
                        li(role="presentation" class="active", id="li_todo")
                            a(class="header-text" id="link_todo") My goals
                                span#count_todo
                        li(role="presentation", id="li_done") 
                            a(class="header-text" id="link_done") Items done
                                span#count_done

                div(class=["plan-options", "row"], id="plan_options")
                    div(class=["col-sm-8"])
                        input#input_addtask(type="text", class="form-control", placeholder="+Add a goal")
                    div(class=["col-sm-4", "dropdown", "options"])
                        a#options(class="options" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
                            span(class=["glyphicon glyphicon-cog"]) 
                            span=" Options"
                        ul(class="dropdown-menu", aria-labelledby="options")
                            li#option_archive
                                a Archive finished items
                            li#option_expand 
                                a Expand all 
                            li#option_collapse
                                a Collapse all 
 
                div#div_planlist(class="plan-area")




