extends layout

block content
    .container
        .col-md-11
            img(src="/images/ucl_logo.png", height=50)
            .pull-right
                img(src="/images/cwi_logo.png", height=70)

        .col-md-11
            .page-header
                h1 Information and Instructions
                    br
                    small Thank you for contributing to our research! Here, you can find information on how to complete this study. If you have any questions, please do not hesitate to
                        =" "
                        a(href="mailto:research.mediafutures.ucl@gmail.com") contact us.
                h4
                    ul.s
                        li
                            a(href="#procedure") What to expect
                        li
                            a(href="#diaryhowto") How to perform the diary study
                        li
                            a(href="#software") Software configuration
                        li
                            a(href="#account") Find back your userid
                        li
                            a(href="#log") What do we log?

            .page-header
                h2#procedure What to expect

                p.lead This study consists of 3 stages: the
                    =" "
                    a(href="#intro") Introduction Session
                    =", the "
                    a(href="#diary") Diary Study
                    =", and the "
                    a(href="#debrief") Debrief Session
                    =". You are invited to participate all three sessions."
                    =' Upon completing the study, you will receive a '
                        span.todo 20 pounds
                    =' worth of Amazon voucher as a "thank you" gift.'

            .bs-callout.bs-callout-info
                h4#intro Introduction session
                p By now you should have already attended the introduction session. The introduction session includes the following steps:
                ol
                    li A brief introduction of the purpose of the study, and your tasks.
                    li Participant registration, including filling an in-take questionnaire, and signing a participation agreement.
                    li Setup softwares on your computer that are necessary for the study.
                    li A training session to familiarize you with the softwares and tools to complete the study.


            .bs-callout.bs-callout-info
                h4#diary Diary study
                p The diary study lasts for
                    span.todo=" 5"
                    =" days. During this period, you are requested to perform the following tasks:"

                ol
                    li Use
                        span.todo=" chrome"
                        img(src="/images/Googlechromeflatlogo.png", height=20)
                        =" as your primary Web browser."

                    li Having your search and browsing activities recorded by the
                        span.todo=" chrome logger"
                        ="."
                    li Having your computer usage activities recorded by the
                        span.todo=" application logger"
                        ="."
                    li
                        By the end of each day,
                        span.todo=" review "
                        ="your search log and "
                        span.todo=" annotate"
                        =" your search activities with your daily information goals."

                p For step 4, you have received a training session during the introduction session in how to perform the log review. In case you need a reminder for the instructions, please refer to the section
                    a(href="#diaryhowto")=" How to perform the diary study."
                p If you encounter any further questions, please
                    a(href="mailto:research.mediafutures.ucl@gmail.com")=" contact us."

                .alert.alert-danger
                    p  Note: During the experiment period, you will need to work on at least 5 information goals. For example, they can be the 5 goals that you have named during the introduction session.

            .bs-callout.bs-callout-info
                h4#debrief Debrief session
                p In the debrief session, you will meet our researchers again. The goals of this session include:
                ul.s
                    li Remove the softwares from your laptop.
                    li You will fill in a post-study questionnaire about your information seeking activities during the diary study.
                    li You will receive a brief interview about your computer usage activities with our researchers.
                p This session should take approximately
                    span.todo=" 1 hour"
                    ="."

            .page-header
                h2#diaryhowto How to perform the diary study

                p.lead For the diary study, you will perform a
                    span.todo=" daily"
                    =" review and annotation of your search activity log online at: "
                    a(href="http://tasklog.cs.ucl.ac.uk/users/annotation") http://tasklog.cs.ucl.ac.uk/users/annotation

                p.lead It consists of 3 steps:
                    ul.lead.u
                        li
                            a(href="#step1") Step1: Review your log
                        li
                            a(href="#step2") Step2: Indicate your information goals
                        li
                            a(href="#step3") Step3: Associate your search and browing activites with your information goals
            -/*
            .bs-callout.bs-callout-warning
                h4 The diary study interface

                p The diary study interface consists of two parts. On the left side, you can view your search and browsing activities performed with the chrome browser. On the right side, you can create a list of information goals that you plan to achieve or have already achieved with your search/browsing activities during the study period.
                img(src="/images/annotation_ui.png", height=400)

            .bs-callout.bs-callout-warning
                h4 Log toolbar
                p Above the log area, you can see a toolbar, which allows you to perform a number of batch operations. It also shows your progress on a selected day. See also
                    a(href="#batch")=" Batch operations."

                img(src="/images/global_tools.png", height=50)
            -*/

            h3#step1 Step 1: Review your log
            .bs-callout.bs-callout-danger
                h4 What do I do when reviewing my log?
                p By reviewing your log, you can remove any log items that contain private or sensitive information, and anything that you feel should not be recorded.



            h3#step2 Step 2: Indicate your information goals

            .bs-callout.bs-callout-primary
                h4 What are information goals
                p When trying to figure out  the information goal of a search or browsing activity, think about the purpose of the search/browsing activity, as well as the context within which the search/browsing activity occurs.
                p Examples:
                ul.s
                    li searching/browsing for a specific purpose, e.g., find out potential side effect of flu shots.
                    li searching/browsing without a specific purpose, e.g, browsing for entertainment, for getting news updates, etc.
                    li search/browsing happened within the context of a work task, e.g., planning a trip/party, looking for information for writing a report.


            .bs-callout.bs-callout-warning
                h4 Managing your information goals

                p To indicate your information goals, you work with the information goal panel, which sits on the right side of the diary study interface:
                img(src="/images/task_ui.png", height=250)

                p The information goal list works like a to-do list, or task managing tool. You can
                ul.s
                    li
                        span.text-strong Create an information goal:
                        =' by typing it in the text input, and press "Enter".'
                    li
                        span.text-strong Create a sub goal (if necessary):
                        =' by clicking on the "+" sign.'

                    li
                        span.text-strong Remove a goal or sub goal:
                        =' by clicking on the'
                        =" "
                        span.glyphicon.glyphicon-trash
                        =" sign."
                    li
                        span.text-strong Strike out a finished goal:
                        =" by checking the checkbox."

                    li
                        span.text-strong Archive your finished goals:
                        =' click on "options", and select "Archive finished items". Goals that have been finished will be moved to the "Items done" section.'
                    -//img(src="/images/task_options.png", height=200)

                p After you have entered an information goal, it will appear as a candidate label, and you can associate it with your search and browsing activities in Step 3. (See below).


            h3#step3 Step 3: Associate your search and browsing activities with your information goals

            .bs-callout.bs-callout-info
                h4 Search and browsing log items

                p There are two types of log items:
                    span.todo=" search history"
                    ="  and "
                    span.todo=" browsing history"
                    ="."

                p An item of search query history starts with a symbol
                    =" "
                    span.glyphicon.glyphicon-search.glyphicon-global

                img(src="/images/logitem_search.png", height=150, width=500)

                p An item of browsing history starts with a symbol
                    =" "
                    span.glyphicon.glyphicon-globe.glyphicon-global
                    ="."

                img(src="/images/log_item.png", height=150, width=500)

                p In the header of each log item, you can see either the query you have issued or the title (link) of the Web page you have browsed. Below the header, you can see a list of the candidate information goals that you have entered in the information goal panel. For browsing history items, you can see an additional question asking whether or not the browsed page was useful for your information goal.

                p When you finish labelling a log item, its frame turns green.

            .bs-callout.bs-callout-primary
                h4 Annotating a search query log item
                p To annotate a search log item, think about in which context you issued that search query. Select one of the information goals you have previously entered, or create a new information goal if necessary.
                p To create a new information goal, follow the instructions listed in
                    =" "
                    a(href="#step1") Step 2: Indicate your information goal.
                    =" The newly created goal will show up as candidate labels for your log items."


            .bs-callout.bs-callout-primary
                h4 Annotating a browsing history item
                p To annotate a browsing history item, apart from associating a browsed page to one of your information goals, we would also like to know whether or not that page is useful for approaching that goal.

            .bs-callout.bs-callout-warning#batch
                h4 Use of batch operations
                p To speed up the review and annotation process, you can use the batch operations provided in the tool bar above the log items. It looks like this:
                img(src="/images/global_tools.png", height=50)

                ul.s
                    li Checkbox: you can select "all", "none", "labelled", or "unlabelled" log items to perform an operation on.
                    li
                        span.glyphicon.glyphicon-trash.glyphicon-global
                        =" : allows you to remove all selected items from the log."
                    li
                        span.glyphicon.glyphicon-eye-open.glyphicon-global
                        =" : you can use it to hide/show labelled items."
                    li
                        span.glyphicon.glyphicon-tag.glyphicon-global
                        =" : You can use it to assign the same information goal to all selected log items."
                    li  With the date selection, you can choose to view and annotate the logs of a specific day. You can also view the progress of your diary work of that day.


            .page-header
                h2#software Software configuration

            p.lead The softwares are configured during the introduction session. If for some reason you need to re-install/configure them, below is a list of things you need to setup:

            .bs-callout.bs-callout-info
                h4
                    strong Chrome browser
                p The Chrome browser can be downloaded at
                    =" "
                    a(href="https://www.google.com/chrome/") https://www.google.com/chrome/
                    ="."

            .bs-callout.bs-callout-info
                h4
                    strong Chrome logger

                p Download the chrome search and browsing activity logger:
                    =" "
                    a(href="/download_chromelogger") chrome logger

                p To install the logger, take the following steps:
                ol
                    li Unzip the downloaded logger package.

                    li Click on the chrome setting icon on the right end of the browser tool bar:
                    img(src="/images/chrome_extension_menu.png", height=50)
                    p

                    li On the dropdown menu, select "Settings".
                    p

                    li A new tab will then open showing the chrome setting page. Select "Extensions" on the left side of the page. The extension page looks like this:
                    img(src="/images/chrome_extension_page.png", height=200)
                    p

                    li Click on "Load unpacked extension"; select the directory that contains the chrome logger that you have downloaded. This installs the chrome logger.
                    p

                    li Upon successfully install the logger, you will see a new chrome extension showing up:
                    img(src="/images/chrome_logger_install.png", height=200)

                p  You may also need to reset your userid. In this case, please follow the instruction in
                    =" "
                    a(href="#account") Find back your userid.

            .bs-callout.bs-callout-info
                h4
                    strong Application logger

                h5
                    strong Mac OS X

                p Download the OSX activity logger:
                    =" "
                    a(href="/ucl_logger_mac.zip") OSX Logger

                p To install the Logger take the following steps:
                  ol
                    li Expand the downloaded zip file by double clicking it, and copy "UCLTaskLog.app" to your Applications folder.

                    li Open "System Preferences", and click "Security and Privacy".

                    li Select the "Privacy" tab, and choose "Accessibility" from the left-hand menu.

                    li Under the "Allow the apps below to control your computer" list, click the plus icon and choose 'UCLTaskLog.app' in your Applications folder.

                    li Launch 'UCLTaskLog.app' and enter your userid. Leave this running for the duration of the study. You may temporarily pause the logging process with the 'pause' button if necessary.

                h5
                    strong Windows (TODO)

                p Download the Windows activity logger:
                    =" "
                    a(href="/ucl_logger_win.zip") Windows Logger

                    li Expand the downloaded zip file by right-clicking it and choosing 'Extract all'

                    li Choose where to extract the software, and press the 'Extract' button.

                    li Inside the 'Release' folder in the extracted files, double click  the 'Vanever' application.

                    li Windows may issue a security warning at this point. Click 'More information' then 'Run anyway' if so.

                    li In the logger user interface, select 'CSV file from the 'Backend' menu, and select a location for your log file.

                    li  Leave this running for the duration of the study. You may temporarily pause the logging process with the 'pause' button if necessary.
            .page-header
                h2#account Find back your userid

                p.lead At the introduction session, we have set up the userid for your loggers. If for any reason that this userid is lost or needs to be reset, you can find your userid by logging in at
                    =" "
                    a(href="http://tasklog.cs.ucl.ac.uk") http://tasklog.cs.ucl.ac.uk

                p.lead Your userid is shown at the right corner of the navigation bar:
                img(src="/images/nav_bar.jpg", height=50)

            .bs-callout.bs-callout-warning
                h4 Set userid in chrome logger
                p   When your userid is not set in the chrome logger, an alert will show up on the upper right corner of your screen. It looks like this:
                img(src="/images/userid_warning.jpg", height=70)

                p   To set your userid, click the icon
                    img(src="/images/icon_19.png")
                    =" on the toolbar on your chrome browser. A popup will show up in which you can input your userid:"
                    img(src="/images/chrome_logger_userid_input.png", height=200)

            .page-header
                h2#log What do we log?

            .bs-callout.bs-callout-info
                h4 Chrome logger
                p The chrome logger logs the following activities:
                ul
                    li Your search queries when you use Google, Bing, or Yahoo.
                    li The pages you have browsed.
                    li The links you have followed that leads to a browsing of a page.
                    li Your tab operations, e.g., open-a-new-tab, close-a-tab, switch-tab, etc.
                p While you only review the search queries and browsed pages in your diary study, other operations related to the items that you have removed will also be removed in a post processing step.

            .bs-callout.bs-callout-info
                h4 Application logger
