extends layout

block content
    .container
        .col-md-11
            img(src="/images/ucl_logo.png", height=50)
            .pull-right
                img(src="/images/cwi_logo.png", height=70)

        .col-md-11
            .page-header
                h1 Information and Instructions
                    br
                    small Thank you for contributing to our research! Here, you can find information on how to complete this study. If you have any questions, please do not hesitate to
                        =" "
                        a(href="mailto:research.mediafutures.ucl@gmail.com") contact us.
                h4
                    ul.s
                        li
                            a(href="#procedure") What to expect
                        li
                            a(href="#software") Step 1: Registration & Setup loggers

                        li
                            a(href="#diaryhowto") Step 2: The diary study
                        li
                            a(href="#postQ") Step 3: The post study questionnaire
                        li 
                            a(href="#reward") Final Step:  Getting the "Thank you" gift voucher
  

            .page-header
                h2#procedure What to expect
                p.lead You will take the following steps while completing the study. 
                img(src="/images/flowchart.png", width="800") 


            .page-header
                h2#software Step 1: Registration and Setup loggers
            .bs-callout.bs-callout-danger
                h4 In case of in-person introduction
                p Normally you would have an in-person appointment with us, during which we help you to register and setup the loggers, and explain how to complete the study. It can be arranged in our lab or in a location which is convenient for you. In this case, you can skip this step, as everything should already be settled. 

                h4 In case of self-registration  
                p If you choose to perform this step at home, you can follow the following instructions. In this case, please contact us for any problems, and to confirm that everything is working fine. 
 
                p.text-primary We strongly suggest that you attend the in-person appointment. It will save you a lot of effort to set things up correctly. 
 
            .panel-group#accordion(role="tablist", aira-multiselectable="true")
                .panel.panel-info
                    .panel-heading#headingRegistration(role="tab")
                        h4.panel-title
                            a(role="button", data-toggle="collapse", data-parent="#accordion", 
                                href="#registration", aria-expanded="true",
                                aria-controls="registration") Registration
                           
                    .panel-collapse.collapse.in#registration(role="tabpanel",
                        aria-lablledby="headingRegistration") 
                        .panel-body
                            p You can register by filling in a registration form 
                                a(href="http://tasklog.cs.ucl.ac.uk/users/registration") Here.
                            p Upon successful registration, you will login to your personal workspace. At the right corner of this page, you can see your unique 
                                strong UserID:
                            img(src="/images/nav_bar.jpg", height=40)
                
                .panel.panel-info
                    .panel-heading#headingSoftware(role="tab")
                        h4.panel-title
                            a(role="button", data-toggle="collapse", data-parent="#accordion", 
                                href="#toInstall", aria-expanded="false",
                                aria-controls="toInstall") Software to be installed
                           
                    .panel-collapse.collapse#toInstall(role="tabpanel",
                        aria-lablledby="headingSoftware") 
                        .panel-body
                            p In order to record your computer usage activities, two pieces of loggers are to be installed. 
                            ol 
                                li A 
                                    a(href="#chrome_logger") chrome extension
                                    span  that records your online searching and browsing activites; 
                                li An 
                                    a(href="#application_logger") application logger 
                                    span that records the application usage on your computer. 
                            p Our goal is to investigate how people's online activities and computer application usage is associated with their daily information need or working tasks.  

                .panel.panel-info
                    .panel-heading#headingChromeLogger(role="tab")
                        h4.panel-title
                            a(role="button", data-toggle="collapse", data-parent="#accordion", 
                                href="#chromeLogger", aria-expanded="false",
                                aria-controls="chromeLogger") Setup the chrome logger              
                           
                    .panel-collapse.collapse#chromeLogger(role="tabpanel",
                        aria-lablledby="headingChromeLogger") 
                        .panel-body
                            h5
                                strong Downloads  
                            p In case you do not have chrome as your primary browser, you can download and install it at 
                                a(href="https://www.google.com/chrome/") https://www.google.com/chrome/.

                            p Download the chrome logger: 
                                a(href="/download_chromelogger") chrome logger

                            h5
                                strong Installation
                            ol
                                li Unzip the downloaded logger package.
                                p
                                li Click on the setting icon on the right end of the chrome browser tool bar:
                                img(src="/images/chrome_extension_menu.png", height=40, width=400)
                                .row
                                    .col-sm-6
                                        p 
                                        li On the dropdown menu, select "Settings".
                                        p
                                        li A new tab will then open showing the chrome setting page. Select "Extensions" on the left side of the page:
                                        p
                                        li Click on "Load unpacked extension"; select the directory that contains the chrome logger that you have downloaded. This installs the chrome logger.
 
                                    .col-sm-6
                                        p
                                        img(src="/images/chrome_extension_page.png", height=200)
                                .row
                                    p
                                    li Upon successfully install the logger, you will see a new chrome extension showing up:
                                    img(src="/images/chrome_logger_install.png", height=180)

                            h5 
                                strong Set UserID in the chrome logger 

                            p   When the chrome logger is running for the first time, it will ask for your UserID. It looks like this:
                            img(src="/images/userid_warning.jpg", height=70, style="margin-left: 50px;")

                            p   To set your userid, click the icon
                                img(src="/images/icon_19.png")
                                =" on the toolbar on your chrome browser. A popup will show up in which you can input your UserID:"
                                img(src="/images/chrome_logger_userid_input.png", height=200, style="margin-left: 50px;")



                .panel.panel-info
                    .panel-heading#headingAppLogger(role="tab")
                        h4.panel-title
                            a(role="button", data-toggle="collapse", data-parent="#accordion", 
                                href="#appLogger", aria-expanded="false",
                                aria-controls="appLogger") Setup the Application logger              
                           
                    .panel-collapse.collapse#appLogger(role="tabpanel",
                        aria-lablledby="headingAppLogger") 
                        .panel-body
                            h5
                                strong Downloads
                            p For Mac OS X: 
                                a(href="/ucl_logger_mac.zip") OSX Logger
                            p For Windows: 
                                a(href="/ucl_logger_win.zip") Windows Logger

                            h5 
                                strong Installation 
                            p For MAC OS X:
                            ol
                                li Expand the downloaded zip file by double clicking it, and copy "UCLTaskLog.app" to your Applications folder.
                                li Open "System Preferences", and click "Security and Privacy".
                                li Select the "Privacy" tab, and choose "Accessibility" from the left-hand menu.
                                li Under the "Allow the apps below to control your computer" list, click the plus icon and choose 'UCLTaskLog.app' in your Applications folder.
                                li Launch 'UCLTaskLog.app' and enter your userid. Leave this running for the duration of the study. You may temporarily pause the logging process with the 'pause' button if necessary.
                
                            p  For Windows: 
                            ol 
                                li Expand the downloaded zip file by right-clicking it and choosing 'Extract all'
                                li Choose where to extract the software, and press the 'Extract' button.
                                li Inside the 'Release' folder in the extracted files, double click  the 'Vanever' application.
                                li Windows may issue a security warning at this point. Click 'More information' then 'Run anyway' if so.
                                li In the logger user interface, select 'CSV file from the 'Backend' menu, and select a location for your log file.

                                li  Leave this running for the duration of the study. You may temporarily pause the logging process with the 'pause' button if necessary.


                .bs-callout.bs-callout-success
                    h4 !Tips: Setup a logger blacklist (optional)

                    .row
                        .col-sm-6
                            p For the chrome logger, You can setup a blacklist that filters out urls that you do not want to be logged. It looks like this (see right):
          
                            p You can input the blacklist like this:  
                            ul 
                                li  Write one url per line;
                                li  Exact match: By default, the filter will filter out urls that match exactly an item in the blacklist.
                                li  URL prefix: To filter out urls that match an item as prefix, end the item with a *. For example, 'http://www.example.com/*' filters out all urls under the domain "www.example.com/"  

                        .col-sm-6    
                            img(src="/images/blacklist.png", height="180", style="margin-left: 50px") 
 



            .page-header
                h2#diaryhowto Step 2: The diary study

            .bs-callout.bs-callout-info
                p The diary study lasts for 5 days. During this period, you will:
                ul 
                   li Use your computer and browse online as you normally do, while
                        ul.s 
                            li Keeping the logger running,
                            li Using Chrome as your main browser.
 
                   li Use our online task planner to create a list of tasks and goals that you are working on during this period.
                   li Review your online activity log and your daily information goals and working tasks each day.
                        
            .bs-callout.bs-callout-danger
                p If you have attended the in-person introduction session, you should have already been familiar with the online tool for task planning and the log review. In case you have not attended the introduction session, you can follow the instructions below to perform the diary study.        
 
                p To conduct the diary study, please use the online tool:   
                    a(href="http://tasklog.cs.ucl.ac.uk/users/annotation") http://tasklog.cs.ucl.ac.uk/users/annotation

            .bs-callout.bs-callout-success
                h4 !Tips:
                p You can greatly reduce the amount of work and speed up the process of conducting the diary study by making use of the  
                    a(href="#batch")=" Batch operations."


            .panel-group#accordion2(role="tablist", aira-multiselectable="true")
                .panel.panel-info
                    .panel-heading#headingTaskPlanner(role="tab")
                        h4.panel-title
                            a(role="button", data-toggle="collapse", data-parent="#accordion2", 
                                href="#taskPlanner", aria-expanded="false",
                                aria-controls="taskPlanner") Managing your information tasks and goals
                           
                    .panel-collapse.collapse#taskPlanner(role="tabpanel",
                        aria-lablledby="headingTaskPlanner") 
                        .panel-body
                            h5 
                                strong What are information goals
                            p Information goals are goals/tasks that involve searching the Web or browsing web sites. 
                            p Examples:
                                ul.s
                                    li searching/browsing for a specific purpose, e.g., find out potential side effects of flu shots.
                                    li searching/browsing without a specific purpose, e.g, browsing for entertainment, for getting news updates, etc.
                                    li search/browsing within the context of a work task, e.g., planning a trip/party, looking for information for writing a report.

                            p
                            .row
                                .col-sm-6
                                    h5 
                                        strong Write down your information goals or tasks 
 
                                    p To indicate your information goals, you work with the task planner panel, located on the right side of the diary study online tool:

                                    p The information goal list works like a to-do list. You can
                                    ul.s
                                        li
                                            span.text-strong Create an information goal:
                                            =' by typing it in the text input, and press "Enter".'
                                        li
                                            span.text-strong Create a sub goal (if necessary):
                                            =' by clicking on the "+" sign.'

                                        li
                                            span.text-strong Remove a goal or sub goal:
                                            =' by clicking on the'
                                            =" "
                                            span.glyphicon.glyphicon-trash
                                            =" sign."
                                        li
                                            span.text-strong Strike out a finished goal:
                                            =" by checking the checkbox."
                                        li
                                            span.text-strong Archive your finished goals:
                                            =' click on "options", and select "Archive finished items". Goals that have been finished will be moved to the "Items done" section.'

                                .col-sm-6
                                    p
                                    img(src="/images/task_ui.png", height=250)


                            p After you have entered an information goal, it will appear as a candidate label, and you can associate it with your search and browsing activities during the log review. (See below).


                 .panel.panel-info
                    .panel-heading#headingLogReview(role="tab")
                        h4.panel-title
                            a(role="button", data-toggle="collapse", data-parent="#accordion2", 
                                href="#logReview", aria-expanded="false",
                                aria-controls="taskPlanner") Review your online activity log and your information tasks/goals
                    .panel-collapse.collapse#logReview(role="tabpanel",
                        aria-lablledby="headingLogReview") 
                        .panel-body
                            h5 
                                strong How to review? 
                            p There are two important things you need to do for log review:  
                            ol 
                                li Check if there are log items that you do not want to be recorded, and remove them from the log.
                                li Associate the remaining log items with the goals and tasks you have written down. You can modify or add tasks/goals as you wish during this process.  

                            h5
                                strong Operating a log item 
                            p A log item of search/browsing activities looks like this: 
                            img(src="/images/logitem_search.png", height=150, width=500)

                            ul
                                li In the header of each log item, you can see either the query you have issued or the title (link) of the Web page you have browsed. 
    
                                li Below the header, you can see a list of the 
                                    span.todo=" candidate information goals "
                                    span=" that you have entered in the information goal panel."

                                li When you finish labelling a log item, its frame turns green.

                 .panel.panel-info
                    .panel-heading#headingBatchOperation(role="tab")
                        h4.panel-title
                            a(role="button", data-toggle="collapse", data-parent="#accordion2", 
                                href="#batchOperation", aria-expanded="false",
                                aria-controls="batchOperation") Use of batch operations

                    .panel-collapse.collapse#batchOperation(role="tabpanel",
                        aria-lablledby="headingBatchOperation") 
                        .panel-body
                            p To speed up the review and annotation process, you can use the batch operations provided in the tool bar above the log items. It looks like this:
                            img(src="/images/global_tools.png", height=40)

                            ul.s
                                li Checkbox: you can batch select/deselect the log items to perform an operation on.

                                li
                                    span.glyphicon.glyphicon-eye-open.glyphicon-global
                                    =" : you can use it to hide/show labelled items."
                                li String filter: you can filter the log items that contain a specific string in its URL. E.g., you can type 'amazon' to find all pages you have viewed on Amazon.
                                li
                                    span.glyphicon.glyphicon-trash.glyphicon-global
                                    =" : allows you to remove all selected items from the log."
                                li
                                    span.glyphicon.glyphicon-tag.glyphicon-global
                                    =" : You can use it to assign the same information goal to all selected log items."
                                li  Date option: allows you to select a day to review the logs.    


            .page-header
                h2#postQ Step 3: Post study Questionnaire
 
            .bs-callout.bs-callout-primary
                p After the diary study, we would invite you for a post-study appointment in order to: 
                ol
                    li Remove the loggers and clean up any local data that remains in your computer.
                    li Complete a post-study questionnaire about your search activities, application usage,  and information tasks/goals.

                p This can be arranged in our lab or a location that is convenient for you. 
                p If you choose to do it at home, you can contact us to remotely assist you in removing the loggers. 

            .page-header
                h2#reward Getting the "Thank you" gift voucher

            .bs-callout.bs-callout-primary
                p In the post-study appointment, you will receive the "Thank you" gift, a £20 Amazon voucher. 
                p If you choose to do the post-study remotely, we will send the voucher via email upon completing the study. 

  
                     

            -/*
            .page-header
                h2#log What do we log?

            .bs-callout.bs-callout-info
                h4 Chrome logger
                p The chrome logger logs the following activities:
                ul
                    li Your search queries when you use Google, Bing, or Yahoo.
                    li The pages you have browsed.
                    li The links you have followed that leads to a browsing of a page.
                    li Your tab operations, e.g., open-a-new-tab, close-a-tab, switch-tab, etc.
                p While you only review the search queries and browsed pages in your diary study, other operations related to the items that you have removed will also be removed in a post processing step.

            .bs-callout.bs-callout-info
                h4 Application logger
            -*/

