doctype html
html
  head
    title= title
    link(rel="stylesheet", href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-1.11.3.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/layout.js")

    block headextra

  body
    block navibar
        nav(class=["navbar", "navbar-inverse", "navbar-fixed-top"])
            .navbar-brand Tasklog
            ul(class=["nav", "navbar-nav", "text"])
                li(class=homeclass)
                    a(href="/users/dashboard") Home

                li(class=instructionclass)
                    a(href="/users/instructions") Instructions

                li(class=annotationclass)
                    a(href="/users/annotation") Review my log

                li(class=accountclass)
                    a(href="/users/account") My account

    block content
                


