doctype html
html
  head
    title= title
    link(rel="stylesheet", href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-1.11.3.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/layout.js")

    block headextra

  body
    block navbar
        nav(class=["navbar", "navbar-default", "navbar-fixed-top"])
            .row
                .navbar-brand tasklog
                ul(class=["nav", "navbar-nav", "text"])
                    //li(class=homeclass)
                    //    a(href="/users/dashboard") Home
    
                    li(class=annotationclass)
                        a(href="/users/annotation") My diary

                    //li(class=accountclass)
                    //    a(href="/users/account") Manage my information

                    li(class=instructionclass)
                        a(href="/users/instructions") Information & Instructions


                - if (typeof(user) !== 'undefined'){
                ul(class="nav navbar-nav navbar-right")
                    li
                        a=user.name + " ( " + user.userid + " )"
                    li 
                        a(href="/logout") Logout
                -}
            block navbar-extension

    block content
                


