doctype html
html( leng="en" )
    head
        title Participant Registration
        meta(charset='utf-8')
        link(href="/stylesheets/style.css", rel="stylesheet")
        link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
        script(src="/javascripts/jquery-1.11.3.min.js")
        script(src="/javascripts/bootstrap.min.js")
        script(src="/javascripts/form_validation.js")
        script(src="/javascripts/register.js")
    body
        .container

            h2(class="text-center space30") UCL Media Futures Computer and Search Activities Study
            h3(class=["text-center", "space30"]) Participant Registration Form
 
            p(class="text-info") 
                span Fields with (
                span(class="text-danger")=" * "
                span ) are required.
            form(class=["form-horizontal"])

                .well
                    .col-sm-12
                        h3.text-center Information and consent
                        .blockquote.infosheet
                            p.lead Thank you for interest in our study. In order to participate, please carefully read the information below and indicate that you agree with the terms and conditions of the study.
                            h4 Title of the Project: Task identification in everyday use of computing devices
                            p 
                                strong Name, Address and Contact Details of Investigators: 
                                span Dr Emine Yilmaz, Dr Jiyin He, Timothy Cowlishaw 
                                br
                                span Dept. of Computer Science, University College London
                                br 
                                span One Euston Square, 40 Melton Street, London NW1 2FD, United Kingdom
                                br 
                                span Telephone: 07904273331
                                br 
                                span E-mail: research.mediafutures.ucl@gmail.com, t.cowlishaw@cs.ucl.ac.uk
                             
                            h4 Goal of the study
                            p We are a research team from the Media Futures group at University College London, and would like to invite daily computer users to take part in this research project, investigating people’s everyday computing habits.
                            p  We are investigating how the specific resources you access on your computer (documents, web pages, pictures, programs), as well as the search queries you issues and the results you choose, are related to your overall goals, tasks and needs in using the computer. Our findings will help us to design better systems for searching and organising information online; systems which are better able to support users through understanding their tasks, needs, and intentions.
 
                            h4 Your involvement in the study
                            p  If you agree to participate, you will be asked to complete the following steps:

                            h5
                                strong 1. Introduction session (30 mins)
                            p  What to expect: 
                            ol 
                                li You will fill in a short survey about basic information about yourself and about your computer usage habits. 
                                li We will install the logging software on your computer which monitors your computing activities for the duration of the study.
                                li We  will explain to you the procedure of the experiment, and you can ask any questions you may have about the study. 
                            
                            p Two loggers will be installed:
                                dl
                                    dt Chrome logger: 
                                    dd which records your online search and browsing activities. 
                                    dt Application logger: 
                                    dd which logs your usage of computer applications. 

                            p The introduction session takes approximately 30 minutes. It can be arranged to take place:
                            ul
                                li in our lab;
                                li or at a location convenient for you;
                                li or at home. In this case, please contact us for any help you might need, and  to confirm whether everything is setup correctly. 
                            
                            h5 
                                strong 2. Diary study (15 - 20 mins daily, for 5 days)
                            p What to expect: The diary study lasts for 5 days, during which you will 
                            ol 
                                li Use your computer and browse online as you normally do, while
                                    ul 
                                        li Keeping the logger running,
                                        li Using Chrome as your main browser.
                                li Use our online task planner to create a list of tasks and goals that you are working on during this period.
                                li Review your online activity log and your daily information goals and working tasks at the end of each day.

                            p To review your log, you will be asked to associate your recorded online activities with the work tasks or information need you have created. Meanwhile, you have the option to remove any log entries that you do not wish to share. This is a light weight annotation task and a dedicated online tool is developed to facilitate this process. 

                            p In addition, information about the frequency of your application use on your computer will be logged by the Application Logger. You may pause and resume this logging process at any time. This information will not be shared with the researchers, but will be stored on your own computer and will be used as part of review activity in the debrief session (see below).

                            h5
                                strong 3. Debrief session (30 - 40 mins)
                            p After the 5 day diary study period, you will be invited to a debrief session.
                            p What to expect: 
                                ol
                                    li You will be asked to complete a short questionnaire about your work tasks and goals during the study, and how these relate to your usage of applications on your computer.
                                    li Anonymous summary statistics about your use of your computer applications will be calculated and shared with the researchers. 
                                    li We will assist you to remove the software from your computer.  

                            p This process should take about 30 - 40 mins. It can be arranged:
                            ul 
                                li in our lab;
                                li or at a location convenient for you;
                                li or at home. In this case, please contact us for any help you might need, and to confirm whether everything works out correctly. 

                            h4 Receiving your "Thank you" gift voucher
                            p In the debrief session, upon completing the steps outlined above, you will receive the "Thank you" gift, a £20 Amazon voucher. If you choose to do the debrief session remotely, we will send the voucher via email upon completing the study.
 
                            h4 Your participation
                            p You should only participate if you want to; choosing not to take part will not disadvantage you in any way. Before you decide whether you want to take part, if there is anything that is not clear or you would like more information, please ask us. You can also discuss it with others if you wish. 

                            p You also have the option to withdraw from the study at any time without giving reason. If you do decide to participate then you are still free to withdraw from the study at any time. In case of withdrawal, no further data will be gathered and any previous data provided will not be used and will be destroyed within two working days after you have informed us about your exit.


                            h4 Your log data
                            p Your web browsing and search data will be stored pseudonymously on a secure, encrypted server and will be accessible only to the researchers. It will be used to investigate the relationship between individual computer activities and search queries and broader goals and objectives in everyday life. Our findings will be written in the form of scientific reports or publications — no raw log data will be included in any publications, and no participants will be identified. You are welcome to request a copy of this report/publication if you wish.


                            p All data will be collected and stored in accordance with the Data Protection Act 1998, and will be destroyed at the end of the study, which will be no later than the 31st of December 2016.
                            p This study is being carried out in collaboration with a researcher from CWI Amsterdam (http://www.cwi.nl), who will be arranging compensation for participants. As a result, participants names and email addresses will be shared with their finance department. However, no internet usage data gathered in the study will be shared with anyone outside the immediate research team at UCL.

                    .form-group
                        .col-sm-12
                            label(for="consent")
                                input#consent(name="consent", type="checkbox" value="Agreed") 
                                =" I declare that I have read and understood the above information about the study; the research project has been explained to me to my satisfaction and I agree to take part in this study. "
                                
                     
                    .col-sm-6 
                        div#err_consent(class="err")

                .jumbotron
                    .form-group
                        .col-sm-6
                            h4 I. Participant account

                    .form-group
                        label(for="name", class=["col-sm-2", "col-sm-offset-1", "control-label"]) 
                            span Name 
                            span(class="text-danger")=" *"
                        .col-sm-6
                           input#user(type="text", class="form-control" placeholder="Please enter your first and family name.")
                           div#err_user(class="err") 

                    .form-group
                        label(for="email", class=["col-sm-2", "col-sm-offset-1", "control-label"]) 
                            span Email
                            span(class="text-danger")=" *"
                        .col-sm-6
                            input#email(type="email", class="form-control" placeholder="Your email will not be shared with others.")
                            div#err_email(class="err")
 
                    .form-group
                        label(for="pass1", class=["col-sm-2", "col-sm-offset-1", "control-label"]) 
                            span Password 
                            span(class="text-danger")=" *"
                        .col-sm-6
                            input#pass1(type="password", class="form-control", name="password")
                            div#err_pass1(class="err")

                    .form-group
                        label(for="pass2", class=["col-sm-2", "col-sm-offset-1","control-label"]) 
                            span Password (again) 
                            span(class="text-danger")=" *"
                        .col-sm-6
                            input#pass2(type="password", class="form-control")
                            div#err_pass2(class="err")                            

                .jumbotron
                    .form-group
                        .col-sm-6
                            h4 II. Basic information
                    
                    .form-group
                        label(for="gender", class=["col-sm-2", "col-sm-offset-1","control-label"]) 
                            span My gender:
                            span(class="text-danger")=" *"
                           
                        .col-sm-6
                            label(class="radio-inline")
                                input#gender_m(type="radio", name="gender", value="male")
                                span Male
                            label(class="radio-inline")
                                input#gender_f(type="radio", name="gender", value="female")
                                span Female
                            label(class="radio-inline")
                                input#gender_o(type="radio", name="gender", value="other")
                                span Other
                            div#err_gender(class="err")

                    .form-group
                        label(for="age", class=["col-sm-2", "col-sm-offset-1","control-label"]) 
                            span My age:
                            span(class="text-danger")=" *"

                        .col-sm-6
                            label(class="radio-inline")
                                input#age_1(type="radio", name="age", value="18_24")
                                span 18-24
                            label(class="radio-inline")
                                input#age_2(type="radio", name="age", value="25_34")
                                span 25-34
                            label(class="radio-inline")
                                input#age_3(type="radio", name="age", value="35_44")
                                span 35-44
                            label(class="radio-inline")
                                input#age_4(type="radio", name="age", value="45_54")
                                span 45-54
                            label(class="radio-inline")
                                input#age_5(type="radio", name="age", value="55+")
                                span 55+
                            div#err_age(class="err")

                    .form-group
                        label(for="profession", class=["col-sm-2", "col-sm-offset-1","control-label"]) 
                            span My profession is:
                            span(class="text-danger")=" *"
                        .col-sm-6
                            input#profession(type="text", class="form-control")
                            div#err_profession(class="err")                            
                
                .jumbotron
                    .form-group
                        .col-sm-12 
                            h4 III. To what extent do the following statements apply to you? (7 questions)
                   
                    .form-group
                        .col-sm-12
                            p 1. I am an experienced user of computer technology. 
                                span(class="text-danger")=" *"
                            div#err_exp_comp(class="err")

                        .col-sm-6 
                            label(class=["control-label", "radio-inline"])
                                span Not at all
                            label(class="radio-inline")
                                input#experience_computer_1(type="radio", name="exp_comp", value="1")
                                span 1
                            label(class="radio-inline")
                                input#experience_computer_2(type="radio", name="exp_comp", value="2")
                                span 2
                            label(class="radio-inline")
                                input#experience_computer_3(type="radio", name="exp_comp", value="3")
                                span 3
                            label(class="radio-inline")
                                input#experience_computer_4(type="radio", name="exp_comp", value="4")
                                span 4
                            label(class="radio-inline")
                                input#experience_computer_5(type="radio", name="exp_comp", value="5")
                                span 5
                            label(class="radio-inline")
                                span Extremely experienced

                    .form-group
                        .col-sm-12
                            p 2. I am an experienced user of search engines.
                                span(class="text-danger")=" *"
                            div#err_exp_se(class="err")

                        .col-sm-6 
                            label(class=["control-label", "radio-inline"])
                                span Not at all
                            label(class="radio-inline")
                                input#experience_se_1(type="radio", name="exp_se", value="1")
                                span 1
                            label(class="radio-inline")
                                input#experience_se_2(type="radio", name="exp_se", value="2")
                                span 2
                            label(class="radio-inline")
                                input#experience_se_3(type="radio", name="exp_se", value="3")
                                span 3
                            label(class="radio-inline")
                                input#experience_se_4(type="radio", name="exp_se", value="4")
                                span 4
                            label(class="radio-inline")
                                input#experience_se_5(type="radio", name="exp_se", value="5")
                                span 5
                            label(class="radio-inline")
                                span Extremely experienced

                    .form-group
                        .col-sm-12
                            p 3. In case you use multiple computers (including desktops and laptops), how often do you use the laptop you will be using in this experiment?  
                                span(class="text-danger")=" *"
                            div#err_freq_comp(class="err")

                            div(class="radio")
                                label
                                    input#freq_comp_1(type="radio", name="freq_comp", value="1")
                                    span Less than 25% of the time 
                            div(class="radio")
                                label
                                    input#freq_comp_2(type="radio", name="freq_comp", value="2")
                                    span Between 25% - 50% of the time 
                            div(class="radio")
                                label
                                    input#freq_comp_3(type="radio", name="freq_comp", value="3")
                                    span Between 50% - 75% of the time 
                            div(class="radio")
                                label
                                    input#freq_comp_4(type="radio", name="freq_comp", value="4")
                                    span Between 75% - 100% of the time 
                            div(class="radio")
                                label
                                    input#freq_comp_5(type="radio", name="freq_comp", value="5")
                                    span I only have this computer and only use this one.

                    .form-group
                        .col-sm-12
                            p 4. How much of your usage of the laptop that you use in this experiment is related to work?  
                                span(class="text-danger")=" *"
                            div#err_comp_work(class="err")

                            label(class=["control-label", "radio-inline"])
                                span None of it
                            label(class="radio-inline")
                                input#comp_work_1(type="radio", name="comp_work", value="1")
                                span 1
                            label(class="radio-inline")
                                input#comp_work_2(type="radio", name="comp_work", value="2")
                                span 2
                            label(class="radio-inline")
                                input#comp_work_3(type="radio", name="comp_work", value="3")
                                span 3
                            label(class="radio-inline")
                                input#comp_work_4(type="radio", name="comp_work", value="4")
                                span 4
                            label(class="radio-inline")
                                input#comp_work_5(type="radio", name="comp_work", value="5")
                                span 5
                            label(class="radio-inline")
                                span All of it


                    .form-group
                        .col-sm-12
                            p 5. What type of device do you usually use for searching for information? computers (desktop/laptop) vs. mobile devices (smartphone/iPad/tablet)

                                span(class="text-danger")=" *"
                            div#err_search_device(class="err")

                            div(class="radio")
                                label
                                    input#search_device_1(type="radio", name="search_device", value="1")
                                    span Almost always on computers 
                            div(class="radio")
                                label
                                    input#search_device_2(type="radio", name="search_device", value="2")
                                    span Mostly on computers, sometimes on mobile devices 
                            div(class="radio")
                                label
                                    input#search_device_3(type="radio", name="search_device", value="3")
                                    span About half - half 

                            div(class="radio")
                                label
                                    input#search_device_4(type="radio", name="search_device", value="4")
                                    span Mostly on mobile devices, sometimes on computers 
                            div(class="radio")
                                label
                                    input#search_device_5(type="radio", name="search_device", value="5")
                                    span Almost always on mobile devices 
 

                
                    .form-group
                        .col-sm-12
                            p 6. What do you usually search for on the Internet on a computer? (Please indicate the top 5:) 
                                span(class="text-danger")=" *"
                            div#err_computer_search_for(class="err")


                            .checkbox
                                label
                                    input(type="checkbox", value="entertainment", name="computer_search_for") 
                                    span Entertainment (e.g., games, books, videos, etc)

                            .checkbox
                                label
                                    input(type="checkbox", value="topic", name="computer_search_for") 
                                    span Exploring information about a specific topic 

                             .checkbox
                                label
                                    input(type="checkbox", value="fact", name="computer_search_for") 
                                    span Finding a fact
 
                             .checkbox
                                label
                                    input(type="checkbox", value="person", name="computer_search_for") 
                                    span Finding information about a person

                             .checkbox
                                label
                                    input(type="checkbox", value="task", name="computer_search_for") 
                                    span Finding information about how to perform a task
 
                             .checkbox
                                label
                                    input(type="checkbox", value="routes", name="computer_search_for") 
                                    span Finding routes or contact information 

                             .checkbox
                                label
                                    input(type="checkbox", value="house", name="computer_search_for") 
                                    span House hunting

                             .checkbox
                                label
                                    input(type="checkbox", value="job", name="computer_search_for") 
                                    span Job hunting

                             .checkbox
                                label
                                    input(type="checkbox", value="news", name="computer_search_for") 
                                    span News or feeds updates

                             .checkbox
                                label
                                    input(type="checkbox", value="shopping", name="computer_search_for") 
                                    span Shopping for products or services

                             .checkbox
                                label
                                    input(type="checkbox", value="social", name="computer_search_for") 
                                    span Social networking (e.g., twitter, facebook, etc.)
 
                             .checkbox
                                label
                                    input(type="checkbox", value="travel", name="computer_search_for") 
                                    span Travel/Holiday planning

                            .checkbox
                                label 
                                    input#checkbox_computer_search_for_other(type="checkbox", value="other", name="computer_search_for")
                                    span Other
                            input#computer_search_for_other(type="text", placeholder="Please specify", class="form-control", name="computer_search_for_other")

                
                    .form-group
                        .col-sm-12
                            p 7. What do you usually search for on the Internet with a mobile device? (Please indicate the top 5:) 
                                span(class="text-danger")=" *"
                            div#err_mobile_search_for(class="err")


                            .checkbox
                                label
                                    input(type="checkbox", value="entertainment", name="mobile_search_for") 
                                    span Entertainment (e.g., games, books, videos, etc)

                            .checkbox
                                label
                                    input(type="checkbox", value="topic", name="mobile_search_for") 
                                    span Exploring information about a specific topic 

                            .checkbox
                                label
                                    input(type="checkbox", value="fact", name="mobile_search_for") 
                                    span Finding a fact
 
                            .checkbox
                                label
                                    input(type="checkbox", value="person", name="mobile_search_for") 
                                    span Finding information about a person

                            .checkbox
                                label
                                    input(type="checkbox", value="task", name="mobile_search_for") 
                                    span Finding information about how to perform a task
 
                            .checkbox
                                label
                                    input(type="checkbox", value="routes", name="mobile_search_for") 
                                    span Finding routes or contact information 

                            .checkbox
                                label
                                    input(type="checkbox", value="house", name="mobile_search_for") 
                                    span House hunting

                            .checkbox
                                label
                                    input(type="checkbox", value="job", name="mobile_search_for") 
                                    span Job hunting

                            .checkbox
                                label
                                    input(type="checkbox", value="news", name="mobile_search_for") 
                                    span News or feeds updates

                            .checkbox
                                label
                                    input(type="checkbox", value="shopping", name="mobile_search_for") 
                                    span Shopping for products or services

                            .checkbox
                                label
                                    input(type="checkbox", value="social", name="mobile_search_for") 
                                    span Social networking (e.g., twitter, facebook, etc.)
 
                            .checkbox
                                label
                                    input(type="checkbox", value="travel", name="mobile_search_for") 
                                    span Travel/Holiday planning

                            .checkbox
                                label 
                                    input#checkbox_mobile_search_for_other(type="checkbox", value="other", name="mobile_search_for")
                                    span Other
                            input#mobile_search_for_other(type="text", placeholder="Please specify", class="form-control", name="mobile_search_for_other")
 

 
                .jumbotron
                    .form-group
                        .col-sm-12 
                            h4 IV. Further details on your search habit (if any):
                        textarea#search_habit(class="form-control", rows=3)
 
                .form-group
                    div(class=["col-sm-offset-3", "col-sm-6"])
                        button#reg_btn(type="button", class=["btn", "btn-primary", "btn-lg", "btn-block"]) Register
                        div#err_db(class="err")

                                       

            form#login_form(class=["form-horizontal"], method="post", action="/users/login")
                .form-group
                    .col-sm-6
                        input#login_email(type="hidden", name="username")
                        input#login_pass(type="hidden", name="password")
 
