extends layout

block headextra
    script(src="/javascripts/todo.js")
 
block content
    div(class=["container"])
        div(class=["col-md-3"])
            div(class="affix", data-spy="affix", data-offset-top="200")
                div(class="left-nav")
                    p 
                        a(href="#today") Today
                    p 
                        a(href="#past") Past tasks

        div(class=["col-md-9"])
            .page-header#today(class="inpagelink")
                h4(class="header-text")  Today
           
            div#tasks_today 
                for t in tasks_today
                    div(id=t.taskid, class=["main-task"])
                        input(type="checkbox", id="checkbox_"+t.taskid)
                        span(class=t.task_status, id="span_"+t.taskid)
                            =" " + t.task
                        =" "
                        span(class=["glyphicon", "glyphicon-trash", "rm-task"], id="rm_"+t.taskid)
                        span(class=["btn-newsub"], id="btn_newsub_"+t.taskid) +Subtask

                        div(class=["newsubtask", "form-inline", "form-add-task"], id="newsub_"+t.taskid)
                            ="-- "
                            input(type="text", class="form-control", placeholder="New subtask", id="input_newsub_"+t.taskid) 
                            =" "   
                            span(class=["glyphicon", "glyphicon-plus-sign", "newsubtask"], id="add_newsub_"+t.taskid)
                            span(class=["glyphicon", "glyphicon-remove-circle", "newsubtask"], id="rm_newsub_"+t.taskid)
                            
                    
                        for tt in t.subtasks
                            div(id=tt.taskid, class="subtask")
                                ="-- "
                                input(type="checkbox", id="checkbox_"+tt.taskid)
                                span(class=tt.task_status, id="span_"+tt.taskid)
                                    =" " + tt.task
                                =" "
                                span(class=["glyphicon", "glyphicon-trash", "rm-task"], id="rm_"+tt.taskid)

            div#div_addtask(class=["form-inline", "form-add-task"])
                input#input_addtask(type="text", class="form-control", placeholder="Add a new task") 
                =" "   
                div#btn_addtask(class=["btn", "btn-sm", "btn-primary"]) Add

            .page-header#past(class="inpagelink")
                h4(class="header-text") Past tasks

            for t in tasks_past
                div(id=t.taskid, class="main-task")
                    input(type="checkbox", id="checkbox_"+t.taskid)
                    span(class=t.task_status, id="span_"+t.taskid)
                        =" " + t.task
                    =" "
                    span(id="refresh_"+t.taskid, class="refresh-task")
                        =" +To today"

                    for tt in t.subtasks
                        div(id=tt.taskid, class="subtask")
                            ="-- "
                            input(type="checkbox", id="checkbox_"+tt.taskid)
                            span(class=tt.task_status, id="span_"+tt.taskid)
                                =" " + tt.task



